* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 1rem;
  height: 80px;
  background-color: blueviolet;
  align-items: center;
  color: white;
  container-type: inline-size;
  font-size: 0.5rem;
}

.logo--container {
  display: flex;
  align-items: center;
}
.logo--container > img {
  height: 40px;
}

.logo--container > h1 {
  margin: 0px;
  padding-left: 0.75rem;
  font-size: 1rem;
}

h3 {
  font-size: 0.6rem;
  margin-bottom: 5px;
}

form {
  display: grid;
  padding: 2rem;
  gap: 1rem;
}

input {
  padding: 0.3rem;
}
button {
  padding: 0.5rem;
  border-radius: 10px;
  background-color: blueviolet;
  color: white;
  font-weight: 600;
}

button:hover {
  cursor: pointer;
}

/* ------------------------------ MEDIA ----------------------------------- */
@media (min-width: 625px) {
  nav {
    padding: 0.5rem 1.5rem;
    height: 100px;
  }

  .logo--container > img {
    height: 60px;
  }

  .logo--container > h1 {
    margin: 0px;
    padding-left: 1rem;
    font-size: 2rem;
  }

  h3 {
    font-size: 1rem;
    margin-bottom: 5px;
  }

  form {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
  }

  button {
    grid-column: 1 / span 2;
    font-size: 1rem;
    padding: 1rem;
    width: 60%;
    justify-self: center;
  }

  input {
    padding: 1rem;
    font-size: 1rem;
    border-radius: 10px;
    width: 100%;
  }
}
